SUPABASE_URL=https://ukmkbpccczfokodxyabk.supabase.co
SUPABASE_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEnvqDgIanQmPUfp3fxINlA4eHrUpY\nx/Q2VUbFm5Cv3yfkvTxqg27H25oyhlv1rGahqUs/MK6U7zELz6XEebIZ4g==\n-----END PUBLIC KEY-----"
FRONTEND_URL=http://localhost:5173

# Ask a developer to fill in the following environment variables before running the application
DATABASE_URL=postgresql://...
OPENAI_API_KEY=sk-...